doctype html
html
  head
    title bespoke-theme-cube
    meta(name='description', content='A theme for Bespoke.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')

  body

    article

      section
        h1 De Java a JS
        h2 y de regreso
        hr
        h3 Por <a href="https://github.com/ethien-salinas">Ethien Salinas</a>

      section
        h2.bullet Antes de empezar
        p.bullet Como funciona el aprendizaje?
        p.bullet Que yo lo haya aprendido asi, no quiere decir que funcione igual para ti

      section
        h2.bullet Gestores de paquetes | proyectos
        p.bullet Maven | Gradle
        p.bullet npm | yarn | webpack

      section
        h2.bullet Sistema de caché de yarn
        ul
          li ... Yarn caches every package it downloads so it never needs to download it again. It also parallelizes operations to maximize resource utilization so install times are faster than ever.
          li maven → .m2 folder

      section
        h2.bullet TDD / BDD
        p.bullet JUnit -->
        p.bullet mocha | jest --watch

      section
        h2.bullet Implementaciones de la JVM
        p.bullet HotSpot | IKVM.NET | OpenJ9 | Jikes RVM
        p.bullet V8 | Nashorn | Chakra

      section
        h2.bullet Transpilacion y pollify
        p.bullet Babel

      section
        h2.bullet Estructura del proyecto
        p.bullet En Java hay una buena convencion para la estructura de un proyecto

      section
        h2.bullet ES6 fue como Java8
        p.bullet Java 8, make Java great again
        
      section
        h2.bullet Monads
        p.bullet <Optional> despues de usar FP en JS

      section(data-bespoke-backdrop='emphatic')
        h1.bullet Preguntas?

      section
        h2.bullet Referencias
        p.bullet List of Java virtual machines, https://en.wikipedia.org/wiki/List_of_Java_virtual_machines
        p.bullet List of ECMAScript engines, https://en.wikipedia.org/wiki/List_of_ECMAScript_engines

    script(src='build/build.js')
