doctype html
html
  head
    title De Java a JS y de regreso
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  body

    article.deck

      section
        h1 De <i class="fab fa-java"></i> a <i class="fab fa-js"></i>
        h2 y de regreso
        br
        br
        br
        h3
          strong Ethien Salinas

      section
        h2 <i class="fas fa-hand-point-up"></i> Antes de empezar
        img(src="images/aprendizaje.jpg")
        hr
        p.bullet <i class="fas fa-question-circle"></i> Cómo funciona el aprendizaje
        ul.build.build-items
          li <i class="far fa-frown"></i> no funciona igual para todos

      section
        h2.bullet <i class="fas fa-box-open"></i> Gestores de paquetes | proyectos
        pre
          code.language-javascript.
            Maven | Gradle
        ul.build.build-items
          li
            pre
              code.language-javascript.
                npm | yarn | gulp | webpack

      section
        h2.bullet <i class="fas fa-hdd"></i> Sistema de caché de yarn
        pre
          code.language-javascript.
            `...Yarn caches every package it downloads
            so it never needs to download it again.`
        ul.build.build-items
          li
            pre
              code.language-javascript.
                maven → .m2 folder

      section
        h2.bullet <i class="fab fa-java"></i> CompletableFuture
        pre
          code.language-javascript.
            `...A Future that may be explicitly completed (setting
            its value and status), and may be used as a CompletionStage,
            supporting dependent functions and actions that trigger
            upon its completion.`
        h2.bullet <i class="fab fa-js"></i>
        ul.build.build-items
          li
            pre
              code.language-javascript.
                `...A Promise is a proxy for a value not necessarily known
                when the promise is created. It allows you to 
                associate handlers with an asynchronous action's
                eventual success value or failure reason.`

      section
        h2.bullet <i class="fas fa-cog fa-spin"></i> Implementaciones de la JVM
        pre
          code.language-javascript.
            HotSpot | IKVM.NET | OpenJ9 | Jikes RVM
        ul.build.build-items
          li
            pre
              code.language-javascript.
                V8 | Nashorn | Chakra

      section
        h2.bullet <i class="fas fa-terminal"></i> Transpiler & Polyfill
        pre
          code.language-javascript.
            Babel

      section
        h2.bullet <i class="fas fa-folder-open"></i> Estructura del proyecto
        ul.build.build-items
          li
            pre
              code.language-javascript.
                src
                  main
                    java
                  test
                    java

      section
        h2.bullet <i class="fas fa-cog fa-spin"></i> REPL
        pre
          code.language-javascript.
            JShell
            List immutableList = List.of("one","two","three");
        ul.build.build-items
          li
            pre
              code.language-javascript.
                Consola del navegador

      section
        h2.bullet <i class="fab fa-superpowers"></i> ES6 fue como Java8
        pre
          code.language-javascript.
            "Java 8, make Java great again"
                              Victor Orozco

      section(data-bespoke-backdrop='emphatic')
        h1.bullet <i class="far fa-question-circle"></i> Preguntas

      section
        h1.bullet <i class="far fa-thumbs-up"></i> Gracias
        h3 <i class="fab fa-github"></i> ethien-salinas
        h3 <i class="fab fa-facebook-square"></i> ethien.salinas

    script(src='build/build.js')
